*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  background-color: #fff
.container
  margin: auto
  // mobile-first
  max-width: 290px * 100% / 320px
  @include min(576px)
    max-width: 85%
  @include min(768px)
    max-width: 650px
  @include min(848px)
    max-width: 800px
  @include min(992px)
    max-width: 920px
  @include min(1200px)
    max-width: 1080px
  @include min(1440px)
    max-width: 1140px
  // @include min_1200
  //   max-width: 960px
  // desktop-first
  // max-width: 1140px
  // @include max_1200
  //   max-width: 960px
  // @include max_992
  //   max-width: 700px
  // @include max_768
  //   max-width: 90%
  // @include max_576
  //   max-width: 87.5%
h1,
h2,
h3
  margin: 0
img
  width: 100%
button
  cursor: pointer
.line
  margin: 0
  border: none
  height: 1px
  width: 100%
  background-color: #E5EAF4
  @include min(768px)
    width: 728px
  @include min(1140px)
    width: 1140px